.color{
    columns: #f6f6f6;
    color:#ebd8ca;
    color:#f2eadf;
    color:#8c99a1;
    color: #6c777d;
}

.fonts{
    font-family: 'Mrs Saint Delafield', cursive;
    font-family: 'Montserrat', sans-serif;
}